<div class="container-fluid">
  <form #f="ngForm">
    <div *ngFor="let field of formFields">
      <label class="form-control-label" for={{field.id}}> {{field.id}} </label>
      <input type="text" class="form-control" name={{field.id}} ngModel *ngIf="field.type.name=='string'">
      <input type="checkbox" name={{field.id}} ngModel *ngIf="field.type.name=='boolean'">
      <input type="number" name={{field.id}} ngModel *ngIf="field.type.name=='long'">
      <select name="field.id" *ngIf="field.type.name=='enum'">
        <option *ngFor="let val of enumValues" value={{val}}>
          {{field.type.values[val]}}
        </option>
      </select>
    </div>
    <button class="btn btn-danger" (click)="registerUser(f.value, f)"> Register </button>
  </form>
</div>