<div class="container">
  <div class="panel panel-primary" *ngFor="let t of tasks">
    <div class="panel-heading" style="display:flex">
      <h3
        class="panel-title"
        (click)="accordionMap[t.id] = !accordionMap[t.id]"
      >
        {{ t.name }}
      </h3>
      <button
        class="btn btn-success btn-block"
        stlye="width: 150px;"
        (click)="executeTask(t.id)"
      >
        Claim
      </button>
    </div>
    <div class="panel-body" *ngIf="accordionMap[t.id]">
      <p><strong> Id taska: </strong> {{ t.id }}</p>
      <p><strong> Magazin naslov: </strong> {{ t.magazineName }}</p>
    </div>
  </div>
</div>
