<div class="container">
  <div class="panel panel-primary" *ngFor="let m of magazines">
    <div class="panel-heading" style="display:flex">
      <h3
        class="panel-title"
        (click)="accordionMap[m.name] = !accordionMap[m.name]"
      >
        {{ m.name }}
      </h3>
      <button class="btn btn-success" (click)="publishPaper(m.id)">
        Publish
      </button>
    </div>
    <div class="panel-body" *ngIf="accordionMap[m.name]">
      <p><strong> ISSN: </strong> {{ m.issn }}</p>
      <p><strong> Payment type: </strong>{{ m.paymentType }}</p>
      <p><strong> Reviewers: </strong></p>
      <p *ngFor="let r of m.reviewers">{{ r.firstName }} {{ r.lastName }}</p>
      <p><strong> Editors of specific areas: </strong></p>
      <p *ngFor="let e of m.editorsOfSpecificAreas">
        {{ e.firstName }} {{ e.lastName }}
      </p>
      <p><strong> Scientific Areas: </strong></p>
      <p *ngFor="let s of m.scientificAreas">{{ s.scientificAreaName }}</p>

      <p><strong> Price : </strong> {{ m.price | currency }}</p>
    </div>
  </div>
</div>
